.create-product-home-button{
    background-color: #febd69;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2vw;
    width: 10vw !important;
    height: 6vh;
}
.create-product-home-button-div{
    text-align: right;
}
.link-name-product-card{
    color: black !important;
    text-decoration: none !important;
}
#image-slider-wish{
   margin-bottom: 10vh;
   margin-top: -5vh;
}
#image-slider-product{
    margin-bottom: 10vh;
    margin-top: -5vh;
 }
#cart_btn{
    margin-left: 0vw !important;
    margin-bottom: 2vh;
    background-color: green;
}
.redirect-link-watsapp{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 850px) {
    .create-product-home-button{
        background-color: #febd69;
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 2vw;
        width: 40vw !important;
        height: 7vh;
    }
    .create-product-home-button-div{
        text-align: right;
    }
    #image-slider-wish{
        margin-bottom: 0vh;
        margin-top: -5vh;
        
     }
     #image-slider-product{
         margin-bottom: 0vh;
         margin-top: -5vh;
 
      }
      #image-product-main{
        height: 40vh;
      }
      #image-wish-main{
        height: 40vh;
      }
      #all-product-pic{
        width: 12vh;
        height: 15vh;
      }
      #all-wish-pic{
        width: 12vh;
        height: 15vh;
      }
}    